body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
}

/* top navigation bar */
.topbar {
  position: fixed;
  top: 0px;
  height: 48px;
  width: 100%;
  background-color: black;
  padding: 8px;
  display: flex;
}

.logo {
  width: 72px;
  height: 72px;
}

.logo img {
  height: 32px;
  width: 32px;
  position: absolute;
  left: 20px;
  top: 15px;
}

.home {
  background-color: #1f1f1f;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  border: 0 0 0 8px;
}

i {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.search {
  width: 457px;
  background-color: #1f1f1f;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 12px;
  margin: 0 8px;
}

.search i {
  opacity: 0.6;
}

.search input {
  flex: 1;
  background-color: #1f1f1f;
  border: 0;
  color:white;
  opacity: 0.6 ;
  font-size: 18px;
  padding-left: 4px;
}

.search img {
  padding: 0 4px 0 12px;
  border-left: 1px solid rgba(255, 255, 255, 0.7)
}

/* sidebar */
.sidebar {
  background-color: #121212;
  width: 340px;
  border-radius: 1rem; /* 1rem=16pxpx */
}

.main-content {
  background-color: #121212;
  border-radius: 1rem;
  flex: 1; /*assign other flex items the required space and the remaining entire space to this item*/
  overflow: auto;
}

.music-player {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 72px;
}
