body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
}

/* top navigation bar */
.topbar {
  position: fixed;
  top: 0;
  height: 3rem;
  width: 100%;
  background-color: black;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 4.5rem;
  height: 4.5rem;
}

.logo img {
  height: 2rem;
  width: 2rem;
  position: absolute;
  left: 1.25rem;
  top: 0.9375rem;
}

.home {
  background-color: #1f1f1f;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  border: 0 0 00.5rem;
  height: 3rem;
}

i {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.search {
  width: 29.625rem;
  background-color: #1f1f1f;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  margin: 00.5remem;
}

.search i {
  opacity: 0.6;
}

.search input {
  flex: 1;
  background-color: #1f1f1f;
  border: 0;
  color: white;
  opacity: 0.6;
  font-size: 1.125rem;
  padding-left: 0.25rem;
}

.search img {
  padding: 0 0.25rem 0 0.75rem;
  border-left: 1px solid rgba(255, 255, 255, 0.7);
}

.install {
  display: flex;
  align-items: center;
  opacity: 0.7;
  margin: 0 0.75rem;
}

.install p {
  padding: 0 0.375rem;
  font-size: 0.875rem;
  font-weight: 600;
}

.btn {
  font-size: 0.875rem;
  border-radius: 2rem;
  font-weight: 700;
  padding: 0.125rem 1rem;
  line-height: 1.75rem;
  border: none;
}

.dark-btn {
  background-color: #1f1f1f;
  color: white;
}

.light-btn {
  background-color: white;
  color: black;
}

.you {
  margin-left: 0.875rem;
  width: 3rem;
  height: 3rem;
  background-color: #1f1f1f;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.you i {
  font-size: 1.75rem;
  line-height: 1.75rem;
  width: 1.75rem;
  height: 1.75rem;
}

.bell i,
.member i {
  font-size: 1rem;
  opacity: 0.7;
  margin: 0.5rem;
}

/* sidebar */
.sidebar {
  background-color: #121212;
  width: 26.25rem;
  border-radius: 1rem; /* 1rem=1rempx */
  margin: 4rem 0.25rem 4.5rem0.5remem;
}

.library {
  display: flex;
  justify-content: center;
  width: 26.25rem;
  height: 4.5rem;
}

.inLib {
  display: flex;
  justify-content: space-between;
  width: 24.25rem;
  height: 2.25rem;
  padding: 0.75rem 1rem 0.5rem 1rem;
  align-items: center;
}

.inLib h1 {
  font-size: 1rem;
  margin: 0;
}

.inLib button {
  width: 6.25rem;
  height: 2.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inLib button i {
  font-size: 1rem;
  opacity: 0.7;
}

.inLib button span {
  font-size: 0.875rem;
  font-weight: 700;
}

.libBody {
  padding: 0 0.5rem 0.5rem 0.5rem;
  width: 24.25rem;
  height: 24.875rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.libcard {
  background-color: #1f1f1f;
  width: 22.75rem;
  height: 6.375rem;
  padding: 1rem 1.25rem;
  margin: 0.5rem 0;
  font-weight: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 0.5rem;
}

.libcard span h1 {
  font-size: 1rem;
  font-weight: 700px;
}

.libcard span span {
  font-size: 0.875rem;
  font-weight: 400;
  opacity: 0.7;
}

/* main-content */
.main-content {
  background-color: #121212;
  border-radius: 1rem;
  flex: 1; /*assign other flex items the required space and the remaining entire space to this item*/
  overflow: auto;
  margin: 4rem 0.5rem 4.5rem 0.25rem;
}

.music-player {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 84.375rem;
  height: 3.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.music-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player {
  display: flex;
  justify-content: center;
  width: 33.625rem;
  height: 2rem;
  margin-bottom: 0.5rem;
  gap: 1rem;
}

.left {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.right {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.music-controls img {
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;
  opacity: 0.4;
}

.music-controls #play {
  width: 2rem;
  height: 2rem;
  padding: 0;
}

.music-trackline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.4;
  width: 33.625rem;
  height: 0.75rem;
}

.music-trackline .trackline div {
  width: 26.375rem;
  position: relative;
  top: 0.125rem;
  bottom: 0.375rem;
  height: 0.25rem;
  background-color: #b3b3b3;
  border-radius: 0.375rem;
}

.music-trackline span {
  width: 3.125rem;
}

.extra-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25.1875rem;
  height: 2rem;
}

.extra-controls img {
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;
}

.extra-controls i {
  font-size: 1rem;
  padding: 0.5rem;
}

.extra-controls .sound {
  display: flex;
  justify-content: center;
  align-items: center;
}

.extra-controls .sound div {
  width: 6.5625rem;
  height: 0.25rem;
  background-color: white;
  border-radius: 0.375rem;
}
